.env
.env.*
.git
.mypy_cache
.pytest_cache
.ruff_cache
.venv
__pycache__
backend/*.egg-info
backend/tests
build
e2e
frontend/dist
node_modules
playwright-report
test-results
**/*.crt
**/*.der
**/*.jks
**/*.key
**/*.keystore
**/*.netrc
**/*.p12
**/*.pem
**/*.pfx
**/*.tar
**/*.tar.gz
**/*.tgz
**/*.token
**/*.zip
wheelhouse/*
!wheelhouse/*.whl
*.pyc
